//Google fonts

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600&family=Poppins:ital,wght@0,100;0,300;0,400;0,500;0,600;0,700;0,800;1,100;1,300&display=swap');



  *{
    font-family:'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    text-decoration: none !important;
    text-transform: capitalize;
    transition: all .2s linear;
  }
  $yellow:#ffc107;
  $yellow-500:#ffc107;
  $black:#111;
  $white:#fff;
  $border:.1rem solid $yellow;
  $box-shadow:0.5rem .5rem 1rem rgba(231, 200, 22, 0.856);
  $bg-color:#222;
  $light-color:#aaa;
  $light-bg:#eee;
  $black-bg:rgba(17,17,17,.7);
  $skyblue-light:#4d94ff;
  $skyblue-dark:#408cff;

  @mixin grid($val) {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax($val, 1fr));
    gap: 2rem;
  }
  @mixin title-text($titleSize){
    font-size: $titleSize;
    text-transform: capitalize;
    color: $black;
  }
  @mixin graph-text($graphSize){
    font-size: $graphSize;
    line-height: 2;
    color: $light-color;
    margin-bottom: 0;
  }
  
html{
  font-size: 62.5%;
  overflow-x: hidden;
  scroll-behavior: smooth;
  scroll-padding-top: 6rem;
  
  &::-webkit-scrollbar{
    width: 1rem;
  }
  &::-webkit-scrollbar-track{
    background: $black;
  }
  &::-webkit-scrollbar-thumb{
    background: $yellow;
  }
}
body{
  background-color: #000000;
}
@keyframes fadeIn{
  0%{
    transform: translateY(-2rem);
    opacity: 0;
  }
}
section{
  padding: 5rem 1rem;
}

.heading{
  text-align: center;
  margin-bottom: 2rem;
  h1{
    font-size: 5rem;
    font-weight: 900;
    color: $yellow;
    margin-top: .5rem;
   }
   h2{
    font-size: 4rem;
    color: $yellow;
    margin-top: .5rem;
   }
}
.link-btn{
  margin-top: 1rem;
  padding: 1rem 3rem;
  display: inline-block;
  border: $border;
  background: $bg-color;
  color: $white;
  cursor: pointer;
  font-size: 1.7rem;

   &:hover{
    background: $yellow;
   }
   
}
//-----------header---------------------
.header{
  z-index: 1000;
  padding: 4rem 0;
    &.active{
      padding: 2rem 0;
      background: $yellow;
    }
   
   .nav{
     
       a{
        font-size: 2rem;
        margin-right: 2rem; // spacing btw a tags
        color: $white;
        
        &:hover{
          text-decoration: underline !important;
          text-underline-offset: .5rem;
        }
      }
   }
   .icons div{
    font-size: 2.5rem;
    color: $white;
    margin-left: 2rem;// spacing btw icons
    cursor: pointer;

    &:hover{
      color: $yellow;
    }
   }
   #menu-btn{
    display: none;
   }
}
//-------------login-form-----------------
.login-form{
  position: fixed;
  top: 0; left: 0;
  z-index: 1100;
  height: 100%;
  width: 100%;
  background: rgba(0,0,0,.8);
  display: none;
  align-items: center;
  justify-content: center;
  padding: 2rem;
     &.active{    // to open login form
      display: flex;
     }
  form{
    width: 50rem;
    padding: 4rem;
    background: $black;
    text-align: center;
    position: relative;
    animation: fadeIn .2s linear;

    #close-login-form{
      position: absolute;
      top: -4rem; right: 0;
      cursor: pointer;
      font-size: 3rem;
      color: $white;

      &:hover{
        transform: rotate(180deg);
      }
    }

    .logo{
      font-size: 2.5rem;
      color: $yellow;
      font-weight: bolder;
      i{
        margin-right: 1rem;
       }
    }
    h3{
      padding: 1rem 0;
      @include title-text(2rem);
      margin-top: 1rem;
      color: $white;
    }
    .box{
      width: 100%;
      padding:1.2rem 1.4rem;
      border: $border;
      background: $bg-color;
      font-size: 1.6rem;
      margin: 1rem 0;
    }
    .flex{
      display:flex;
      align-items: center;
      gap: .5rem;
      margin-bottom: 1rem;

      label{
        @include graph-text(1.5rem);
        cursor: pointer;
      }
      a{
        font-size: 1.5rem;
        color: $yellow;
        margin-left:auto;

        &:hover{
          text-decoration: underline !important;
        }
      }
    }
    .link-btn{
      width: 100%;
      margin-bottom: 1rem;
    }
    .account{
      padding: 1rem .5rem;
      background: $bg-color;
      @include graph-text(1.5rem);

      a{
        color: $yellow;
        &:hover {
          text-decoration: underline !important;
        }
      }
       
    }
  }
}

//-----------home section------------>
.home{
  background:linear-gradient(rgb(0,0,0,0.7),rgb(0,0,0,.7)), url(images/home.img.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
   
   span{
    font-size: 2.5rem;
    color: $white;
    font-weight: bolder;
   }
   h3{
    padding-top: 1rem ;
    font-size: 3rem;
    color: $white;
    font-weight: bolder;
   }
   .link-btn{
    background:$skyblue-light;
    border-color: $skyblue-dark;
    border-radius: 1rem;
     
   }
   
}
//----------service section------------------>
.services {
   
   .box-container{
    @include grid(30rem);

      .box{
        overflow: hidden;
        position: relative;
        height: 25rem;
        border-radius: 1rem;
          &:hover {
            box-shadow: $box-shadow;
            border: $border;
            img{
              transform: translateY(-100%);
            }
            .content{
              transform: translateY(0);
            }
          }
           
          img{
            height: 100%;
            width: 100%;
            object-fit: cover;
          }

          .content{
            position: absolute;
            top: 0;
            left: 0;
            background: $black-bg;
            text-align: center;
            padding: 3rem 2rem;
            height: 100%;
            width: 100%;
            padding-top: 4rem;
            transform: translateY(100%);
            
              h3{
                @include title-text(2rem);
                color: $yellow;
              }
              p{
                @include graph-text(1.5rem);
                padding: 1rem 0;
                color: $yellow;
              }

          }
      }
   }
}
//-----------------local destination------------->
.local-destination {

  .box-container{
    @include grid(30rem);

     .box{
      overflow: hidden;
      position: relative;
      height: 25rem;
        
        

         img{
          height: 100%;
          width: 100%;
          object-fit: cover;

          &:hover {
            transform: rotateY(180deg);
            transition: 1.5s;
          }
         }
     }
  }
}
//------------------Testimonials----------------------->

.testimonials{

    .box-container{
      @include grid(30rem);

      .box{
        text-align: center;
        padding: 3rem 2rem;
        border-radius: .5rem;
          &:hover{
            background-color: $yellow;
            box-shadow: $box-shadow;
            transform: translateY(-1rem);
             h3{
              color: $white;
             }
             .stars i{
              color: $white;
             }
          }
         
         img{
           height: 10rem;
           width: 10rem;
           border-radius: 50%;
           margin-bottom: 1.5rem;
         }
        h3{
          @include title-text(2rem);
          color: $yellow;
        }
        p{
          @include graph-text(1.5rem);
          padding: 0.5rem 0;
          color: $white;
        }

        .stars{
          margin-top: 1rem;
          
          i{
            font-size: 1.7rem;
            color: $yellow;
          }
        }
      }
    }
}

//----------------------Contact--------------------------->
.contact{
   
  .contact-info-container{
     @include grid(30rem);
     margin-bottom: 3rem; 
      .box{
        border: $border;
        padding: 3rem 2rem;
        text-align: center;
        &:hover i{ //to get hover effect when mouse passes through anywhere the box
          background-color: $yellow;
          color: $white;
        }

         i{
          height: 6rem;
          width: 6rem;
          line-height: 6rem;// to position icon on center
          border: $border;
          color: $yellow;
          font-size: 2rem;
          margin-bottom: 2rem;
            
          
         }
         h3{
          @include title-text(2rem);
          color: $yellow; 
         }
         p{
          @include graph-text(1.5rem);
          color: $yellow;
          text-transform: lowercase;
         }

      }
    }

    form{
       h3{
        @include title-text(3rem);
        padding-bottom: 1rem;
        color: $yellow;
      }

      .box{
        margin: .7rem 0;
        border: $border;
        font-size: 1.6rem;
        width: 100%;
        padding: 1.2rem 1.4rem;
         &:focus{
           background: $yellow;
           color: $white;

           &::placeholder{
            color: $light-bg;
             }
          }
        }

       textarea{
        height: 15rem;
        resize: none;
       } 
    }
  
}

//---------------footer-------------------->
.footer{
   text-align: center;

    .logo{
      font-size: 2.5rem;
      color: $yellow;
      font-size: bolder;
       i{
        margin-right: 1rem;
       }
      
     }

    .credit{
       margin: 1rem 0;
       @include title-text(2rem);
        color: $light-color; 
        span{
          color: $yellow;
        }
     }

     .share{
      margin-top: 2rem;
        a{
          height: 5rem;
          width: 5rem;
          line-height: 5rem;
          font-size: 2rem;
          border: $border;
          color: $yellow;
          margin: 0 0.3rem;
           
           &:hover{
             background: $yellow;
             color: $white;
           }
        }
      
     }
}


























//media queries------------------->
@media (max-width:991px){
   html{
    font-size: 55%;
    scroll-padding-top: 8rem;
   }
   .home h3{
    font-size: 4rem;
   }
   section{
    padding: 2rem 0;
   }
   
}

@media (max-width:768px){
  
  .header {
    padding: 4rem 2rem;
    &.active{
      padding:2rem;
    }
  
    #menu-btn {
    display: inline-block;

      &.fa-times{
        transform: rotate(180deg);
      }
    }

    .nav {
      position: absolute;
      top: 99%; left:0; right: 0;
      background: $white;
      flex-flow: column;
      padding: 1rem 0;
      clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
         
       &.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
       }
       
      a{
        margin: 1rem 2rem;
        color: $black;
      }
    }
  }

  .contact .map{
    height: 25rem;
  }
}

@media (max-width:450px){
   html {
    font-size: 45%;
   }
   
  
}
  